
.header-container{
    display: block;
    width: max-content;
    padding: 1rem 2rem;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%) ;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.087);
    border-radius: 20px;
 }
 .header-container a{
     text-decoration: none;
     background-color: transparent;
     padding: 1rem;
     border-radius: 50%;
     color: rgba(255, 255, 255, 0.263);
     
     font-size: 1.5rem;
 
 
 }
 .header-container span{
     color: yellow;
 }
 .header-container a:hover{
     color: white;
     transition: 1s;
     opacity: 10;
     background-color:rgba(255, 255, 255, 0.087);
 }
 
 .header-container a:active{
     color: white;
     transition: 0.5s;
     opacity: 10;
     background-color:rgba(255, 255, 255, 0.087);
 }
 