.top-container{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    color: white;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../img/Colored\ Shapes\ \(1\).svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   

}
.top-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;


}
.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3rem 0;
}
.top-box img{
    width: 80%;
}

h1{
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 4rem;
}
h1 span{
    color: #84319b;
}
.underline:nth-child(1){
   
   position: absolute;
    bottom: 0;
    right: 10%;
    width: 150px;
    height: 100px;
    
    border-bottom: 10px solid #84319b;
    border-right: 10px solid #84319b;
}
.underline:nth-child(2){
    position: absolute;
   
   
  top: 0;
    left: 10%;
    width: 150px;
    height: 100px;
    
    border-top: 10px solid #84319b;
    border-left: 10px solid #84319b;
}
.icon{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}
.github:hover{
    color: #84319b;
    transition: 0.3s;
}
.linkdin:hover{
    color: #84319b;
    transition: 0.3s;
}
.btn-primary{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    
}
.btn-primary button{
    background-color: #84319b;
    border: none;
    border: 2px solid #84319b;
    padding: 1rem 2rem;
    color: white;
}
.btn-primary button:hover{
    background-color: transparent;
    transform: scale(0.95);
    transition: 0.4s;
}